.close-button {
  place-self: end;
  cursor: pointer;
  width: 40px;
  height: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
}

.wrapper-grid {
  position: absolute;
  bottom: 33%;
  left: 33.3%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.75rem;
}

.close-button:hover {
  background-color: #f7f7f7;
}

.open-button {
  cursor: pointer;
  width: 117px;
  height: 43px;
  font-size: 14px;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(153, 153, 153);
}
